<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:targetApi="31" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:targetApi="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:targetApi="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:targetApi="33" />

    <queries>
        <package android:name="com.aiham.virtualtest" />
    </queries>

    <application
        android:name=".AihamApp"
        android:allowBackup="true"
        android:icon="@drawable/quotes_launcher_art"
        android:roundIcon="@drawable/quotes_launcher_art"
        android:label="اقتباسات"
        android:supportsRtl="true"
        android:theme="@style/Theme.AihamQuotes"
        android:extractNativeLibs="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
